<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Data Protection Portal{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('build/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{  asset('images/microfocus.png') }}">
    </head>
    <body>

        {% block header %}

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('portal_home') }}">D2P</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('portal_home') }}">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('portal_schedule_new') }}">
                                Schedule
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('portal_backup') }}">
                                Backup
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Restore
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="welcomeUser" class="navbar" >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <div style="color: white">
                                    Welcome {{ app.session.get('userName') }}
                                </div>
                        </li>
                    </ul>
                </div>
                <a  class="btn btn-outline-light" href="{{ path('portal_logout') }}">
                    Logout
                </a>
            </nav>
        </header>
        {% endblock %}
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/bootstrap.js') }}"></script>
        {% endblock %}

        <footer>

        </footer>
    </body>
</html>
